mat-tab-group {
    display: flexbox;
    width: 100%;
    padding: 20px;
    align-items: center;
    border: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    height: calc(70vh - 10px);

    
}

mat-tab {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-justify: distribute;
}

h1 {
    color: #004a9f;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 10px !important;
    font-size: 18px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: "Prata", serif;
    font-weight: 400;
}

p {
    color: #000;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    font-weight: 100;
}

#first-area {
    background-color: aliceblue;
}

.paragraph-main {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 34px;
}

#contents-item {
    display: flex;
    justify-content: center;
}

.col {
    float: left;
    width: 100%;
    padding: 5px;
}

.contents-banner-fluid {
    max-width: 100%;
    height: auto;
}

.contents-banner {
    position: relative;
}

.contents-banner img {
    display: block;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    opacity: 0;
    transition: opacity 0.5s;
}

.contents-heading {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #004a9f;
    text-align: center;
    position: absolute;
    top: 63%;
    left: 0;
    width: 100%;
    margin-top: -50px;
}

.contents-banner:hover .img-overlay {
    opacity: 0.8;
}

#contact-form {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.form-group {
    margin-bottom: 20px;
    border: 1px solid #333333;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    padding-left: 2%;
    padding-right: 2%;
}

.form-group input {
    border: none;
    width: 100%;
    height: 50px;
    display: block;
    font-size: 15px;
    color: #004a9f;
    background-color: transparent;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: 0;
}

.form-group textarea {
    border: none;
    width: 100%;
    height: 188px;
    display: block;
    font-size: 15px;
    color: #004a9f;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
}

.contact-form-left {
    padding-right: 15px;
}

.contact-form-right {
    padding-left: 15px;
}

.contact-form-left,
.contact-form-right {
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.button-contact {
    border-radius: 30px;
    border: 1px solid #004a9f;
    background-color: #004a9f;
    padding-left: 20px;
    padding-right: 20px;
}

.button-contact:hover {
    background-color: #fff;
    border: 1px solid #004a9f;
    color: #004a9f;
}

.contact-p {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #333333;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    min-height: 55px;
    line-height: 55px;
    padding: 0 60px;
    transition: all 0.5s;
    text-decoration: none;
}

.button:hover {
    background-color: #004a9f;
}

.button-contact {
    border-radius: 30px;
    border: 1px solid #004a9f;
    background-color: #004a9f;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
}

.button-contact:hover {
    background-color: transparent;
    border: 1px solid #004a9f;
    color: #004a9f;
}

#contact {
    background-color: aliceblue;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333333;
    text-align: center;
}

.footer-col {
    float: left;
    width: 31%;
    padding: 10px;
}

.footer-heading-3 {
    color: #D6D6D6 !important;
}

footer p {
    color: #969696;
}

footer a {
    color: #969696;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    line-height: 2;
}

footer a:hover {
    color: #dc0109;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

.button-footer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    background-color: #333333;
    border: 2px solid #c1c0c0;
    color: #fff;
}

.button-footer:hover {
    background-color: #fff;
    color: #333333;
    border: 2px solid #fff;
}

#copyright {
    padding-top: 0;
    padding-bottom: 0;
}

.copyright-p {
    background-color: #004a9f;
    color: aliceblue;
    font-size: 13px;
    text-align: center;
}