mat-tab-group {
    display: flexbox;
    width: 100%;
    padding: 20px;
    align-items: center;
    border: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    height: calc(70vh - 10px);

    
}

mat-tab {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-justify: distribute;
}